<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Домашняя страница сайта</title>
    <link href="~/CSS/style.css" rel="stylesheet" type="text/css" />


</head>
<body>
    @await Html.PartialAsync("NavBar"); 
    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <h1 class="intro__title">АПОиБАИС 23-24</h1>
                <h2 class="intro__subtitle">Здравствуйте! Надеюсь сделал все достаточно качественно)))!</h2>
                <h2 class="intro__subtitle">Логин - "admin@gmail.com" Пароль - "_Aa123456"</h2>
                <a class="btn  btn--red" href="@Url.Action("ProductList","Product")">Перейти к каталогу</a>
            </div>
        </div>ы
    </div>

</body>
</html>